table{
    
    margin-left: 38%;
    background-color: lightgray;
}
#a{
    margin-left: 40%;
    margin-top: 150px;
}
#tabela2{
    margin-top: 150px;
    background-color: lightcoral;
}

#formularz{
    text-align: center;
}
body{
    text-align: center;
}
#tabela2{
    margin-top: 150px;
    background-color: lightcoral;
}

#formularz{
    text-align: center;
    margin-right: 5%;
}
body{
    text-align: center;
    
}
h3{
    margin-right: 5%;
}
#text{
    margin-right: 5%;
}
table{
    
    margin-left: 37%;
    background-color: lightgray;
}
#a{
    margin-left: 1%;
    margin-top: 150px;
}
#tabela2{
    margin-top: 150px;
    background-color: lightcoral;
}

#formularz{
    text-align: center;
}
body{
    text-align: center;
}